
/* light mode theme */
:root {
  --font-family-base: "Inter var", "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --link-font-color-dark: rgba(255, 255, 255, 0.87);

  --header-bg-light: #fff;
  --line-light: rgba(60, 60, 67, .12);
  --text-font-color-light: rgba(60, 60, 67, .92);

  --brand-color: #646cff;
  --nav-link-color: #646cff;

  --brand-color-light: #bcc0ff;

  --mute-light: #f6f6f7;

  --main-bg: #fff;

  --main-shadow: 0 12px 32px rgba(0, 0, 0, .1), 0 2px 6px rgba(0, 0, 0, .08);

  --text-font-color: rgba(60, 60, 67, .92);
  --text-code-font-color: #476582;


  --advantage-bg: conic-gradient(from -90deg at 110% 100%, #fff 0deg, #ebecf0 90deg, #ebecf0 1turn);
  --we-believe-bg: conic-gradient(from -90deg at 110% 100%, #fff 0deg, #ebecf0 90deg, #ebecf0 1turn);
  --what-we-do-bg: conic-gradient(from 90deg at -10% 100%, #bcc1cd 0deg, #bcc1cd 90deg, #fff 1turn);

  --arrow-light-mode-icon: url('https://raw.githubusercontent.com/hellof2e/static/main/arrow-light-mode.png');

  color: var(--text-font-color);
  background-color: var(--main-bg);
  font-family: var(--font-family-base);
}

.nav-item a {
  color: var(--text-font-color-light);
  font-family: var(--font-family-base);
}
.nav-item a:hover {
  color: var(--brand-color);
}
.social-links a {
  color: rgba(60, 60, 67, .7);
}
.social-links a:hover svg {
  color: rgba(60, 60, 67, .92);
  transition: color .25s;
}
.header .container {
  border-bottom: 1px solid var(--line-light);
  background-color: var(--main-bg);
}
.doc-content-document p {
  color: var(--text-font-color);
}
.doc-content-document table {
  border: 1px solid var(--line-light);
}
.doc-content-document table th,
.doc-content-document table td {
  border-left: 1px solid var(--line-light);
  color: var(--text-font-color-light);
}

.doc-content-document table td {
  border-top: 1px solid var(--line-light);
}

.doc-content-document table code {
  color: var(--text-code-font-color);
  background-color: var(--mute-light);
}

.doc-content-document table td:first-child code {
  color: var(--text-code-font-color);
}
.doc-nav {
  border-right: 1px solid var(--line-light);
}
.doc-content-document p > code {
  color: var(--text-code-font-color);
  background-color: var(--mute-light);
}
.doc-content-document strong {
  color: var(--text-font-color);
}
.doc-content-document blockquote {
  background-color: rgba(100, 108, 255, .08);
}
.doc-content-document blockquote p {
  color: #454ce1;
}

.doc-content-document ul li,
.doc-content-document ol li {
  color: var(--text-font-color);
}


/* dark mode theme */
html.dark {
  --link-font-color-dark: rgba(255, 255, 255, 0.87);
  --main-bg: #23272f;
  --text-font-color: rgba(255, 255, 255, 0.87);
  --header-bg-light: #fff;

  --text-font-color-light: rgba(255, 255, 255, 0.5);
  /* --text-font-color-light: rgba(255, 255, 255, 0.87); */

  --text-code-font-color: #c9def1;
  --brand-color: #646cff;
  --nav-link-color: #fff;
  --brand-color-light: #bcc0ff;
  --mute-light: #313136;
  --line-light: rgba(82, 82, 89, .32);


  --advantage-bg: conic-gradient(from 90deg at -10% 100%, #2b303b 0deg, #2b303b 90deg, #16181d 1turn);
  --we-believe-bg: conic-gradient(from -90deg at 110% 100%, #2b303b 0deg, #16181d 90deg, #16181d 1turn);
  --what-we-do-bg: conic-gradient(from 90deg at -10% 100%, #2b303b 0deg, #2b303b 90deg, #16181d 1turn);

  --scroll-down-dark-color: var(--link-font-color-dark);
  --arrow-dark-mode-icon: url('https://raw.githubusercontent.com/hellof2e/static/main/arrow-dark-mode.png');
  --footer-bg: conic-gradient(from 90deg at -10% 100%, #2b303b 0deg, #2b303b 90deg, #16181d 1turn);
  --logo-dark-mode: url('https://raw.githubusercontent.com/hellof2e/static/main/quarkd-logo-light-mode.png');

  font-family: var(--font-family-base);
  color: var(--link-font-color-dark);
  background-color: var(--main-bg);
}

html.dark pre {
  color: #1e1e20;
}

html.dark .paragraph {
  color: var(--nav-link-color);
}

html.dark .nav-item .nav-active {
  color: var(--brand-color);
}

html.dark .flyout-menu .menu-wrap {
  background: var(--main-bg);
  box-shadow:  0 1px 2px rgba(0, 0, 0, .04), 0 1px 2px rgba(0, 0, 0, .06);
  border: 1px solid rgba(84, 84, 84, .48);
}

html.dark .flyout-menu .menu-group-title {
  color: rgba(235, 235, 235, .38);
}

html.dark .flyout-menu .menu-link {
  color: rgba(255, 255, 255, .87);
}
html.dark .flyout-menu .menu-link:hover {
  color: #646cff;
}


html.dark .nav-item a:hover,
html.dark .nav-item button:hover {
  color: rgba(255 255 255 / 1);
}
html.dark .nav-item .nav-active {
  color: #fff;
}

html.dark .social-links a:hover svg{
  color: #fff;
}

html.dark .doc-nav a {
  color: #fff;
}
html.dark .doc-nav a:hover {
  color: var(--brand-color);
}

html.dark .translations:before, .appearance:before, .social-links:before {
  background-color: rgba(60, 60, 67, 0.92);
}


html.dark .doc-content-document p > code {
  color: var(--text-code-font-color);
}
html.dark .doc-content-document strong {
  color: var(--text-font-color);
}
html.dark .doc-content-document blockquote p {
  color: #bcc0ff;
}
html.dark .doc-content-document a {
  color: #9499ff;
  text-decoration: underline;
}
html.dark .doc-content-document a:hover {
  color: #bcc0ff;
}

html.dark .doc-content-document table {
  border: 1px solid #333;
}
html.dark .doc-content-document table th,
html.dark .doc-content-document table td {
  border-left: 1px solid #333;
  color: #fff;
}
html.dark .doc-content-document table td  {
  border-top: 1px solid #333;
}

html.dark .doc-content-document ul li,
html.dark .doc-content-document ol li
 html.dark .doc-content-document strong {
  color: var(--text-font-color);
}
